name: On merge of "Log RECENT_MERGED_BRANCH_NAME" to main, build the protocol and add it to the website

on:
  push:
    branches:
     - main

jobs:
  build-website:
    runs-on: ubuntu-latest
    name: "add protocol to website"
    steps:
      - name: lookup branch name
        uses: actions/checkout@v4
      - uses: tonynguyenit18/github-action-custom-vars@v1
      - name: test
        run: echo 'branch name =' $RECENT_MERGED_BRANCH_NAME
      - name: Checkout repo and build website
        if: (startsWith(env.RECENT_MERGED_BRANCH_NAME, 'sfp-')
          || startsWith(env.RECENT_MERGED_BRANCH_NAME, 'sip-')
          || startsWith(env.RECENT_MERGED_BRANCH_NAME, 'sop-')
          || startsWith(env.RECENT_MERGED_BRANCH_NAME, 'sap-')
          || startsWith(env.RECENT_MERGED_BRANCH_NAME, 'spp-'))
        uses: inbo/actions/protocol_website@main
        with:
          PAT: ${{ secrets.PAT }}
          GITHUB_REPOSITORY_DEST: "inbo/protocols"
          RECENT_MERGED_BRANCH_NAME: $RECENT_MERGED_BRANCH_NAME
